<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.skysite.testscripts.SkySiteRegressionSuite1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyAppLaunch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyLoginWithInvalidCredential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyLoginWithValidCredential</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyLandingOfLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyProjectCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
