<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SkySite Regression Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fdc0b0">  <td>17/09/30 07:48:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SkySiteRegressionSuite1.verifyAppLaunch()[pri:0, instance:com.skysite.testscripts.SkySiteRegressionSuite1@56ef9176]">verifyAppLaunch</td> 
  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>17/09/30 07:49:37</td>   <td>95288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SkySiteRegressionSuite1.verifyLandingOfLoginPage()[pri:0, instance:com.skysite.testscripts.SkySiteRegressionSuite1@56ef9176]">verifyLandingOfLoginPage</td> 
  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>17/09/30 07:51:09</td>   <td>187814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SkySiteRegressionSuite1.verifyLoginWithValidCredential()[pri:0, instance:com.skysite.testscripts.SkySiteRegressionSuite1@56ef9176]">verifyLoginWithValidCredential</td> 
  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>17/09/30 07:53:06</td>   <td>304568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SkySiteRegressionSuite1.verifyLoginWithInvalidCredential()[pri:0, instance:com.skysite.testscripts.SkySiteRegressionSuite1@56ef9176]">verifyLoginWithInvalidCredential</td> 
  <td>main@1857815974</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>17/09/30 07:54:41</td>   <td>399635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SkySiteRegressionSuite1.verifyProjectCreation()[pri:0, instance:com.skysite.testscripts.SkySiteRegressionSuite1@56ef9176]">verifyProjectCreation</td> 
  <td>main@1857815974</td>   <td></td> </tr>
</table>
