<h2>Reporter output</h2><table><tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">Verify successful Application launch.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-message">&emsp;Browser Launched and maximized successfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Splash page objects initiated successfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for 'SignIn' button to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;SkySite application lanched successfully.</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">Verify successful landing of Login Page.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-message">&emsp;Browser Launched and maximized successfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for 'SignIn' button to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;'SignIn' button is appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;'SignIn' button is clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:51:08 524 - Element is displayed:: [[ChromeDriver: chrome on XP (d390facf18f8b35f1ea51279e7b2338a)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Sign In button is clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:51:08 712 - Element is displayed:: [[ChromeDriver: chrome on XP (d390facf18f8b35f1ea51279e7b2338a)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for Username text box to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn page landed successfully.</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">Verify successful landing of Login Page.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-message">&emsp;Browser Launched and maximized successfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for 'SignIn' button to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;'SignIn' button is appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;'SignIn' button is clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:52:38 130 - Element is displayed:: [[ChromeDriver: chrome on XP (fde8d4452bd2eddf0048fc33a3849fe5)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:52:38 234 - Element is displayed:: [[ChromeDriver: chrome on XP (fde8d4452bd2eddf0048fc33a3849fe5)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username: s1@gmail.com hasa been engtered in Username text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: rabbhada@123 hasa been engtered in Password text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn button clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Modal window is closed.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:53:05 503 - Element is displayed:: [[ChromeDriver: chrome on XP (fde8d4452bd2eddf0048fc33a3849fe5)] -> css selector: .ltmenu-user.badge-stack.dropdown>a]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Checking whether Profile button is present?</div></td></tr>
<tr><td><div class="test-message">&emsp;Login successful with valid credential.</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">Verify successful landing of Login Page.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-message">&emsp;Browser Launched and maximized successfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for 'SignIn' button to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;'SignIn' button is appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;'SignIn' button is clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:54:33 925 - Element is displayed:: [[ChromeDriver: chrome on XP (9eb2103f54513b28319a70e0822a1bdc)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:54:34 037 - Element is displayed:: [[ChromeDriver: chrome on XP (9eb2103f54513b28319a70e0822a1bdc)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username: s123@gmail.com hasa been engtered in Username text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: s12345 hasa been engtered in Password text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn button clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Login unsuccessful with invalid credential</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">Verify project creation.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-message">&emsp;Browser Launched and maximized successfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for 'SignIn' button to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;'SignIn' button is appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;'SignIn' button is clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:56:09 015 - Element is displayed:: [[ChromeDriver: chrome on XP (c9343bea386124549cfd1ef0e34d34a2)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:56:09 120 - Element is displayed:: [[ChromeDriver: chrome on XP (c9343bea386124549cfd1ef0e34d34a2)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username: s1@gmail.com hasa been engtered in Username text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: rabbhada@123 hasa been engtered in Password text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn button clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Modal window is closed.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:56:36 975 - Element is displayed:: [[ChromeDriver: chrome on XP (c9343bea386124549cfd1ef0e34d34a2)] -> css selector: .ltmenu-user.badge-stack.dropdown>a]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Checking whether Profile button is present?</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:56:37 150 - Element is displayed:: [[ChromeDriver: chrome on XP (c9343bea386124549cfd1ef0e34d34a2)] -> css selector: #add-project]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button is clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Name has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Number has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Site Address has been entered.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:56:44 679 - Element is displayed:: [[ChromeDriver: chrome on XP (c9343bea386124549cfd1ef0e34d34a2)] -> css selector: #txtCountry]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Country has been selected.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:56:51 352 - Element is displayed:: [[ChromeDriver: chrome on XP (c9343bea386124549cfd1ef0e34d34a2)] -> css selector: .State-Item[data-name='alabama']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State has been selected.</div></td></tr>
<tr><td><div class="test-message">&emsp;City has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Password has been entered.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Sep 07:57:00 413 - Element is displayed:: [[ChromeDriver: chrome on XP (c9343bea386124549cfd1ef0e34d34a2)] -> css selector: .noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Project created successfully.</div></td></tr>
</table>